.text-field{
    -fx-background-color: #454545;
    -fx-border-color: #454545;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.text-field:focused{
    -fx-border-color: #FFFFFF;
    -fx-border-style: hidden hidden solid hidden;
}

#no-focus:focused{
    -fx-border-color: transparent;
    -fx-border-style: hidden hidden solid hidden;
}

#error{
    -fx-border-color: red;
    -fx-border-style: hidden hidden solid hidden;
}

.label-sub-input{
    -fx-text-fill: #7B7A7A;
}

.directory-btn{
    -fx-background-color: transparent;
    -fx-background-image: url(../../../data/assets/folder.png);
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-size: contain;
    -fx-background-position:center;
}

.directory-btn:hover{
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

.big-btn{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.big-btn:hover{
    -fx-background-color: #bababa;
    -fx-cursor: hand;
}

.scroll-pane {
    -fx-background: #333333;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color : #393939;
    -fx-border-color : transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :#454545;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :#454545;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :#454545;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#454545,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}