*{
    -fx-text-fill: #ffffff;
    -fx-font-family: sans-serif;
}

.view-element{
    -fx-background-color: #393939;
    -fx-background-radius: 10px;
}

.video-control-section{
    -fx-background-radius: 0px 0px 10px 10px;
}

.track-layer{
    -fx-background-radius: 0px 10px 10px 0px;
}

.track-layer-setting{
    -fx-background-radius: 10px 0px 0px 10px;
    -fx-border-color: #393939;
    -fx-border-width: 2px;
    -fx-border-style: hidden solid hidden hidden;
}

#play-button{
    -fx-background-image: url(../../data/assets/play.png);
}

#pause-button{
    -fx-background-image: url(../../data/assets/pause.png);
}

#skip-fw-button{
    -fx-background-image: url(../../data/assets/forward.png);
}

#skip-bw-button{
    -fx-background-image: url(../../data/assets/backward.png);
}

#video-control-section Button{
    -fx-pref-height: 25;
    -fx-pref-width: 25;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-size: contain;
    -fx-background-position:center;
}

#video-control-section Button:hover{
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}

#video-control-section Button:pressed{
    -fx-opacity: 0.5;
}

.progress-bar .track{
    -fx-background-color: #393939;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}
.progress-bar .bar {
    -fx-background-color: #ffac00;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 0;
    -fx-border-radius: 0;
}