*{
    -fx-text-fill: #ffffff;
    -fx-font-family: sans-serif;
}

.view-element{
    -fx-background-color: #393939;
    -fx-background-radius: 10px;
}

.video-control-section{
    -fx-background-radius: 0px 0px 10px 10px;
}

.track-layer{
    -fx-background-radius: 0px 10px 10px 0px;
}

.track-layer-setting{
    -fx-background-radius: 10px 0px 0px 10px;
    -fx-border-color: #393939;
    -fx-border-width: 2px;

}

.track-layer-setting Button{
    -fx-background-color: #393939;
}

.track-layer-setting Button:hover{
    -fx-background-color: #5c5c5c;
    -fx-cursor: hand;
}

#mute-active{
    -fx-background-color: #00aa2d;
}

#mute-inactive{
    -fx-background-color: #393939;
}

#solo-active{
    -fx-background-color: #ffd600;
}

#solo-inactive{
    -fx-background-color: #393939;
}

#play-button{
    -fx-background-image: url(../../data/assets/play.png);
}

#pause-button{
    -fx-background-image: url(../../data/assets/pause.png);
}

#skip-fw-button{
    -fx-background-image: url(../../data/assets/forward.png);
}

#skip-bw-button{
    -fx-background-image: url(../../data/assets/backward.png);
}

#video-control-section Button{
    -fx-pref-height: 25;
    -fx-pref-width: 25;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-size: contain;
    -fx-background-position:center;
}

#video-control-section Button:hover{
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}

#video-control-section Button:pressed{
    -fx-opacity: 0.5;
}

.progress-bar .track{
    -fx-background-color: #727272;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}
.progress-bar .bar {
    -fx-background-color: #0685E2;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 0;
    -fx-border-radius: 0;
}

.tracktype-label{
    -fx-text-alignment: left;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.title-label{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.timeLineSlider .track {
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0, 0, 0;
    -fx-background-radius: 0, 0, 0;
    -fx-padding: 0;
}

.timeLineSlider .axis .axis-tick-mark{
    -fx-fill: null;
    -fx-stroke: #FFFFFF;
}

.timeLineSlider .axis .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: #adadad;
}

.timeLineSlider .axis{
    -fx-tick-label-fill: #FFFFFF;
}

.timeLineSlider .thumb{
    -fx-background-image: url(../../data/assets/playhead.png);
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-size: contain;
    -fx-background-position:center;
}

.timeLineSlider .thumb:hover{
    -fx-cursor: hand;
}


.totalVolumeSlider .track {
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0, 0, 0;
    -fx-background-radius: 0, 0, 0;
    -fx-padding: 0;
}

.totalVolumeSlider .thumb{
    -fx-cursor: hand;
}

.totalVolumeSlider .axis .axis-tick-mark{
    -fx-fill: null;
    -fx-stroke: #FFFFFF;
}

.totalVolumeSlider .axis .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: #adadad;
}

.totalVolumeSlider .axis{
    -fx-tick-label-fill: #FFFFFF;
}

#tracklayer-setting-container .slider .track{
    -fx-background-color: transparent;
}

#tracklayer-setting-container .slider .thumb:hover{
    -fx-border-width: 2px;
    -fx-border-color: #fff;
    -fx-border-radius: 15;
    -fx-cursor: hand;
}

#tracklayer-setting-container .progress-bar .track{
    -fx-background-color: #C4C4C4;
    -fx-border-radius: 0;
    -fx-background-radius: 5;
}

#tracklayer-setting-container .progress-bar .bar{
    -fx-background-radius: 2;
    -fx-background-insets: 0 0 0 0;
    -fx-border-radius: 0;
    -fx-padding: 0.25em;
}

#tracklayer-setting-container #track-settings-volume-intensity .bar, #tracklayer-setting-container #track-settings-volume-intensity .thumb{
    -fx-background-color: #FB3C3B;
}

#tracklayer-setting-container #track-settings-volume-depth .bar, #tracklayer-setting-container #track-settings-volume-depth .thumb{
    -fx-background-color: #FCC429;
}

#tracklayer-setting-container #track-settings-volume-atmosphere .bar, #tracklayer-setting-container #track-settings-volume-atmosphere .thumb{
    -fx-background-color: #55FEF8;
}

