.list-view {
    -fx-text-fill: black;

}

.list-view:showing {
    -fx-text-fill: black;
}

.list-view:hover {
    -fx-text-fill: black;
}

.track-Info {
    -fx-alignment: center;
}

.cover {
    -fx-padding: 10;
    -fx-border-width: 20px;

}
.list-cell {
    -fx-background-color: #393939;
    -fx-text-fill: #ffffff;
    -fx-font-family: sans-serif;
    -fx-border-color: white;

}

#title-label {
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-text-alignment: center;
}