.list-view {
    -fx-text-fill: black;

}

.list-view:showing {
    -fx-text-fill: black;
}

.list-view:hover {
    -fx-text-fill: black;
}

.track-Info {
    -fx-text-fill: black;
    -fx-cell-size: 1;
    -fx-background-color: black;
}

.cover {
    -fx-background-color: black;
    -fx-cell-size: 30;
    -fx-background-size: 10;
}
